* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10, 10, 10);
}

nav {
    /* background-color: rgb(121, 31, 121); */
    background-color: white;
    color: rgb(9, 9, 9);
}

nav ul {
    list-style-type: none;
    height: 74px;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading {
    margin-top: 2px;
    color: #ee5082;
    border: 4px dotted white;
    width: 450px;
}

h1 {
    padding: 10px;
    text-align: center;
}

.gameContainer {
    /* background-color: greenyellow; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 40px;
    margin-left: 200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box {
    font-size: 7vw;
    cursor: pointer;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgba(212, 238, 184, 0.118);
}

.boxtext {
    color: green;
}

.info {
    color: aquamarine;
    font-size: 23px;
}

.gameInfo {
    padding: 70px 45px;
    margin: 10px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 25px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: #f9004d;
    color: white;
}

.playerX{
    color: #53e4a5;
}

.playerO{
    color: #7797cf;
}

/* .line{
    background-color: black;
    width: 3px;
    height: 20vw;
} */
/* .line{
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
} */

.primary-btn {
    height: 30px;
    width: 70px;
    margin: 10px;
}

.wingif {
    right: 30px;
    position: relative;
}

.draw-msg,
.winner-msg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 173, 173, 0.938);
}

.draw-msg,
.winner-msg {
    display: none;
}

.draw-msg.show,
.winner-msg.show {
    display: flex;
}



@media screen and (max-width:800px) {
    .gameContainer {
        flex-wrap: wrap;
        margin: 100px;
    }

    .gameInfo {
        margin-top: 35px;
    }

    .gameInfo h1 {
        font-size: 1.3rem;
    }

    .container {
        grid-template-columns: repeat(3, 15vw);
        grid-template-rows: repeat(3, 18w);
    }
}